* {
	padding: 0;
	margin: 0;
	font-family: "Martel", serif;
}

.wrapper {
	display: flex;
	justify-content: center;
	background-color: #2a2a2a;
}

section {
	max-width: 1366px;
	overflow: hidden;
}
.scene-1 {
	height: 90vh;
}
.scene-1,
.scene-3,
.scene-4 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1f1f1f;
	color: #f1f1f1;
	position: relative;
}

.scene-4 {
	height: 700px;
}
.scene-1 h1 {
	font-size: 100px;
}
.scene-3 h1 {
	font-size: 70px;
	z-index: 4;
	opacity: 0.8;
}
.scene-2 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px !important;
	background-color: #1f1f1f;
}

.scene-3 {
	height: 900px;
}
.scene-2 h1 {
	position: absolute;
	/* margin-top: 200px; */
	color: #ffffff;
	font-size: 70px;
	text-shadow: 10px;
	opacity: 0.8;
}
.scene-2 img,
.scene-3 img {
	position: absolute;
	top: 0;
	width: 100%;
}

.scene-4 h1 {
	/* position: absolute; */
	opacity: 0.8;
}

.scene-4 img {
	margin-top: 125px;
	margin-right: 100px;
}
.customZoomOut {
	animation: customZoomOut 3000ms ease-out forwards;
	-webkit-animation: customZoomOut 3000ms ease-out forwards;
}

@keyframes customZoomOut {
	from {
		opacity: 0;
		transform: scale(2);
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
	}
}
to {
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

.scene-5 {
	height: 500px;
	/* display: flex; */
	text-align: right;
}
#trex {
	margin-top: 50px;
	width: 90px;
	height: 94px;
}
.scene-5-cont {
	height: 700px;
	background-color: #a5a5a5;
	position: relative;
}
.scene-5-cont img {
	position: absolute;
}

#sales-title {
	color: #2a2a2a;
	font-size: 40px;
	position: absolute;
	top: 5%;
}
#sales-hand {
	right: 0;
	bottom: 0;
}

#sales-computer {
	right: 22%;
	bottom: 6%;
}

#sales-pen {
	left: 26%;
	bottom: 10%;
}

#sales-notebook {
	left: 10%;
	bottom: 10%;
}

.scene-7 {
	height: 700px;
}
